body {
	--pearch-color: #00aaa2;
	--pearch-alt-color: #d5ae00;
	--pearch-background: #e6ecf0;
	--pearch-hover-link: #00d0c623;
}

.app {
	display: flex;
	height: 100vh;
	max-width: 1000px;
	margin-left: auto;
	margin-right: auto;
	padding: 0 10px;
}
